@model EditOrderViewModel
@{

    var baseUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["BaseURL"];
    ViewBag.Title = "Edit";
    var db = new KitSEntities();
    int size6 = 0, size7 = 0, size8 = 0, size9 = 0, size10 = 0, size11 = 0, size12 = 0, size13 = 0, total = 0;
}
<link href="~/Content/css/devoops/tooltip.css" rel="stylesheet" />



@using (Html.BeginForm("EditSpecialOrder", "Order", FormMethod.Post, new
{
    id = "uploadForm1",
    enctype = "multipart/form-data",
    onsubmit = "return confirm('Do you really want to submit the form?');"
}))
{
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Order Management</a></li>
                <li><a href="~/Order/SP">Orders</a></li>
                <li><a href="#">Edit</a></li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-search"></i>
                        <span>Order </span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            @*<i class="fa fa-chevron-up"></i>*@
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <p class="bg-danger">@Html.ValidationSummary(true)</p>
                        @if (TempData["ERROR"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span>@TempData["ERROR"] </span>
                            </div>
                        }
                        @if (TempData["SUCCESS"] != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span>@TempData["SUCCESS"] </span>
                            </div>
                        }

                        <div class="col-lg-6">

                            <fieldset>
                                @Html.HiddenFor(m => m.OrderID)
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        @Html.Label("Articles", new { @class = "control-label" })

                                    </div>
                                    <div class="col-sm-4">
                                        @*  @Html.ListBoxFor(model => model.Article, (SelectList)ViewBag.ArticleList ,new { @class = "populate placeholder", id = "s3_with_tag" })*@
                                        @(Html.Kendo().MultiSelect().Name("Article").Value(Model.ArtilceList).DataTextField("Name")
            .DataValueField("ID").DataSource(d => d.Read(r => r.Action("GetArticles", "Order")))
            .Events(e =>
                                    {
                                        e.Change("onChange").Select("onSelect").DataBound("onDataBound");
                                    }))

                                    </div>
                                </div>

                                <div id="articleDetails" class="form-group">
                                    @foreach (var artDet in Model.Article)
                                    {
                                        <div class="custom" id=@artDet.ID>
                                            <div class="form-group">
                                                <div class="col-sm-2"> <b> @artDet.ArticleName </b></div>
                                                <div class="col-sm-1">Size6</div>
                                                <div class="col-sm-1">Size7</div>
                                                <div class="col-sm-1">Size8</div>
                                                <div class="col-sm-1">Size9</div>
                                                <div class="col-sm-1">Size10</div>
                                                <div class="col-sm-1">Size11</div>
                                                <div class="col-sm-1">Size12</div>
                                                <div class="col-sm-1">Size13</div>
                                                <div class="col-sm-1">Total</div>
                                            </div>

                                            @foreach (var ii in artDet.WHArticleDetails)
                                            {
                                                size6 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size6;
                                                size7 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size7;
                                                size8 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size8;
                                                size9 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size9;
                                                size10 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size10;
                                                size11 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size11;
                                                size12 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size12;
                                                size13 = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Size13;
                                                total = db.SPOrderDetails.FirstOrDefault(c => c.WHArticleDetailID == ii.ID && c.OrderId == Model.OrderID).Total;

                                                <div class="form-group">
                                                    <div class="col-sm-2"> @ii.Color.ColorName   </div>

                                                    <div class="col-sm-1">

                                                        <input class="adjust-widthnumberBox k-widget k-numerictextbox k-input" type="number" id="item-Size6-@ii.ID" name="item-Size6-ID*@ii.ID" value=@size6 onchange="calcuateTotal(@ii.ID)" min="0" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size7-@ii.ID" name="item-Size7-ID*@ii.ID" value=@size7 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size8-@ii.ID" name="item-Size8-ID*@ii.ID" value=@size8 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size9-@ii.ID" name="item-Size9-ID*@ii.ID" value=@size9 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size10-@ii.ID" name="item-Size10-ID*@ii.ID" value=@size10 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size11-@ii.ID" name="item-Size11-ID*@ii.ID" value=@size11 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size12-@ii.ID" name="item-Size12-ID*@ii.ID" value=@size12 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-Size13-@ii.ID" name="item-Size13-ID*@ii.ID" value=@size13 min="0" onchange="calcuateTotal(@ii.ID)" />
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input class="adjust-width numberBox k-widget k-numerictextbox k-input" type="number" id="item-total-@ii.ID" name="item-total-ID*@ii.ID" value=@total min="0" readonly />
                                                    </div>

                                                </div>

                                            }
                                            <hr />
                                        </div>
                                    }
                                </div>
                            </fieldset>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-label-left">
                                        Save
                                    </button>
                                    <a href="~/Order/SP" class="btn btn-primary btn-label-left">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="ajax-loading" id="loading"><p></p></div>

}
@section Styles{
    <style scoped>
        .populate {
            width: 200px;
        }
    </style>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">

        $(document).ready(function () {

            $('#s3_with_tag').select2({ placeholder: "Select Articles" });

        });


        function calcuateTotal(artDtlId) {
            debugger;

            var size6 = parseFloat($("#item-Size6-" + artDtlId).val());
            var size7 = parseFloat($("#item-Size7-" + artDtlId).val());
            var size8 = parseFloat($("#item-Size8-" + artDtlId).val());
            var size9 = parseFloat($("#item-Size9-" + artDtlId).val());
            var size10 = parseFloat($("#item-Size10-" + artDtlId).val());
            var size11 = parseFloat($("#item-Size11-" + artDtlId).val());
            var size12 = parseFloat($("#item-Size12-" + artDtlId).val());
            var size13 = parseFloat($("#item-Size13-" + artDtlId).val());

            var totalcount = size6 + size7 + size8 + size9 + size10 + size11 + size12 + size13;

            var total = $("#item-total-" + artDtlId).val(totalcount);
        }

    </script>

    <script>

        function onDataBound() {
            var current = this.value();
            this._savedOld = current.slice(0);
        }

        function onChange() {

            debugger;

            var previous = this._savedOld;
            var current = this.value();
            var diff = [];
            if (previous) {
                diff = $(previous).not(current).get();
            }
            this._savedOld = current.slice(0);
            if (diff.length > 0) {
                debugger;
                var item = "#" + diff;
                //var artRempvPrice = ".itemPrices" + diff; //e.params.data.id;
                //var str = 0;
                //$(artRempvPrice).each(function () {
                //    str += parseFloat($(this).text());
                //})
                //var ttlAmount = parseFloat($('#total-Amount').text());
                //ttlAmount = ttlAmount - str;
                //$('#total-Amount').text(ttlAmount);

                $(item).remove();
            }
        }

        function onSelect(e) {
            debugger;
            var item = e.item;
            var text = item.text();

            $.ajax({
                type: "POST",
                url: "@baseUrl/Order/GetSPArticleDetailforPurchase",
                data: JSON.stringify({ ArticleID: text }),
                datatype: "json",
                contentType: "application/json",
                success: function (data) {
                    $('#articleDetails').prepend(data);
                    $('#articleDetails').show();
                },
                error: function (error) {
                    $('#articleDetails').hide();
                }
            });

        }

    </script>
}